<!DOCTYPE html>
<html lang="en"> <!-- added by us aa-->
<title>
    {% block title %}
    {% endblock title %}
- Player Management / Edit Player Information </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
    <h1>
        <a href="{{ url_for('players_index_view') }}">Player Management</a>
    </h1>
    <ul>
        <li>
            <a href="{{ url_for('players_index_view') }}">Players</a>
        </li>
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}
        {% endblock header %}
    </header>
    {% for message in get_flashed_messages() %}<div class="flash">{{ message }}</div>{% endfor %}
    {% block content %}
    {% endblock content %}
</section>
