{% extends "base.html" %}
{% block header %}
    <h1>
        {% block title %}
        Update Player Attributes for  {{ player['player_name'] }}
        {% endblock title %}
    </h1>
{% endblock header %}
{% block content %}
    <form method="post">

        <input type="hidden" name="player_api_id" value="{{ player['player_api_id'] }}">

        <label for="date">Last Update</label>
        <input type="datetime-local"
               id="date"
               name="date"
               value="{{ player['date'] or request.form['date']  }}" 
          />                <!-- player_attributes.date.strftime('%Y-%m-%dT%H:%M') -->
        <span>Previous Submission: {{ player['date'] }}</span>


        <label for="player_name">Player Name</label>
        <input name="player_name"
            id="player_name"
            type="text"
            value="{{ player['player_name'] }}"
            disabled />

        <label for="gk_reflexes">GK Reflexes</label>
        <input name="gk_reflexes"
            id="gk_reflexes"
            type="number"
            min="0"
            value="{{ request.form['gk_reflexes'] if request.form.get('gk_reflexes') else player['gk_reflexes'] }}"
             />
        <span>Previous Submission: {{ player['gk_reflexes'] }}</span>



        <label for="gk_handling">GK Handling</label>
        <input name="gk_handling"
            id="gk_handling"
            type="number"
            min="0"
            value="{{ request.form['gk_handling'] or player ['gk_handling'] }}"
            required />
            <span>Previous Submission: {{ player['gk_handling'] }}</span>


        <label for="gk_kicking">GK Kicking</label>
        <input name="gk_kicking"
                id="gk_kicking"
                type="number"
                value="{{ request.form['gk_kicking'] or player['gk_kicking'] }}"
                required />
                <span>Previous Submission: {{ player['gk_kicking'] }}</span>


        <label for="gk_positioning">GK Positioning</label>
        <input name="gk_positioning"
                id="gk_positioning"
                type="number"
                value="{{ request.form['gk_positioning'] or player['gk_positioning'] }}"
                required />
                <span>Previous Submission: {{ player['gk_positioning'] }}</span>


        <label for="overall_rating">Overall Rating</label>
        <input name="overall_rating"
            id="overall_rating"
            type="number"
            min="0"
            max="100"
            value="{{ request.form['overall_rating'] or player['overall_rating'] }}"
            required />
            <span>Previous Submission: {{ player['overall_rating'] }}</span>


        <label for="potential">Potential</label>
        <input name="potential"
            id="potential"
            type="number"
            min="0"
            max="100"
            value="{{ request.form['potential'] or player['potential'] }}"
            required />
            <span>Previous Submission: {{ player['potential'] }}</span>

        
        <label for="crossing">Crossing</label>
        <input name="crossing"
                id="crossing"
                type="number"
                value="{{ request.form['crossing'] or player['crossing'] }}"
                required />
                <span>Previous Submission: {{ player['crossing'] }}</span>


        <label for="finishing">Finishing</label>
        <input name="finishing"
                id="finishing"
                type="number"
                value="{{ request.form['finishing'] or player['finishing'] }}"
                required />
                <span>Previous Submission: {{ player['finishing'] }}</span>


        <label for="heading_accuracy">Heading Accuracy</label>
        <input name="heading_accuracy"
                id="heading_accuracy"
                type="number"
                value="{{ request.form['heading_accuracy'] or player['heading_accuracy'] }}"
                required />
                <span>Previous Submission: {{ player['heading_accuracy'] }}</span>


        <label for="short_passing">Short Passing</label>
        <input name="short_passing"
                id="short_passing"
                type="number"
                value="{{ request.form['short_passing'] or player['short_passing'] }}"
                required />
                <span>Previous Submission: {{ player['short_passing'] }}</span>


        <label for="volleys">Volleys</label>
        <input name="volleys"
                id="volleys"
                type="number"
                value="{{ request.form['volleys'] or player['volleys'] }}"
                required />
                <span>Previous Submission: {{ player['volleys'] }}</span>


        <label for="dribbling">Dribbling</label>
        <input name="dribbling"
                id="dribbling"
                type="number"
                value="{{ request.form['dribbling'] or player['dribbling'] }}"
                required />
                <span>Previous Submission: {{ player['dribbling'] }}</span>


        <label for="curve">Curve</label>
        <input name="curve"
                id="curve"
                type="number"
                value="{{ request.form['curve'] or player['curve'] }}"
                required />
                <span>Previous Submission: {{ player['curve'] }}</span>


        <label for="free_kick_accuracy">Free Kick Accuracy</label>
        <input name="free_kick_accuracy"
                id="free_kick_accuracy"
                type="number"
                value="{{ request.form['free_kick_accuracy'] or player['free_kick_accuracy'] }}"
                required />
                <span>Previous Submission: {{ player['free_kick_accuracy'] }}</span>


        <label for="long_passing">Long Passing</label>
        <input name="long_passing"
                id="long_passing"
                type="number"
                value="{{ request.form['long_passing'] or player['long_passing'] }}"
                required />
                <span>Previous Submission: {{ player['long_passing'] }}</span>


        <label for="ball_control">Ball Control</label>
        <input name="ball_control"
                id="ball_control"
                type="number"
                value="{{ request.form['ball_control'] or player['ball_control'] }}"
                required />
                <span>Previous Submission: {{ player['ball_control'] }}</span>


        <label for="acceleration">Acceleration</label>
        <input name="acceleration"
                id="acceleration"
                type="number"
                value="{{ request.form['acceleration'] or player['acceleration'] }}"
                required />
                <span>Previous Submission: {{ player['acceleration'] }}</span>


        <label for="sprint_speed">Sprint Speed</label>
        <input name="sprint_speed"
                id="sprint_speed"
                type="number"
                value="{{ request.form['sprint_speed'] or player['sprint_speed'] }}"
                required />
                <span>Previous Submission: {{ player['sprint_speed'] }}</span>


        <label for="agility">Agility</label>
        <input name="agility"
                id="agility"
                type="number"
                value="{{ request.form['agility'] or player['agility'] }}"
                required />
                <span>Previous Submission: {{ player['agility'] }}</span>


        <label for="reactions">Reactions</label>
        <input name="reactions"
                id="reactions"
                type="number"
                value="{{ request.form['reactions'] or player['reactions'] }}"
                required />
                <span>Previous Submission: {{ player['reactions'] }}</span>


        <label for="balance">Balance</label>
        <input name="balance"
                id="balance"
                type="number"
                value="{{ request.form['balance'] or player['balance'] }}"
                required />
                <span>Previous Submission: {{ player['balance'] }}</span>


        <label for="shot_power">Shot Power</label>
        <input name="shot_power"
                id="shot_power"
                type="number"
                value="{{ request.form['shot_power'] or player['shot_power'] }}"
                required />
                <span>Previous Submission: {{ player['shot_power'] }}</span>


        <label for="jumping">Jumping</label>
        <input name="jumping"
                id="jumping"
                type="number"
                value="{{ request.form['jumping'] or player['jumping'] }}"
                required />
                <span>Previous Submission: {{ player['jumping'] }}</span>


        <label for="stamina">Stamina</label>
        <input name="stamina"
                id="stamina"
                type="number"
                value="{{ request.form['stamina'] or player['stamina'] }}"
                required />
                <span>Previous Submission: {{ player['stamina'] }}</span>


        <label for="strength">Strength</label>
        <input name="strength"
                id="strength"
                type="number"
                value="{{ request.form['strength'] or player['strength'] }}"
                required />
                <span>Previous Submission: {{ player['strength'] }}</span>


        <label for="long_shots">Long Shots</label>
        <input name="long_shots"
                id="long_shots"
                type="number"
                value="{{ request.form['long_shots'] or player['long_shots'] }}"
                required />
                <span>Previous Submission: {{ player['long_shots'] }}</span>


        <label for="aggression">Aggression</label>
        <input name="aggression"
                id="aggression"
                type="number"
                value="{{ request.form['aggression'] or player['aggression'] }}"
                required />
                <span>Previous Submission: {{ player['aggression'] }}</span>


        <label for="interceptions">Interceptions</label>
        <input name="interceptions"
                id="interceptions"
                type="number"
                value="{{ request.form['interceptions'] or player['interceptions'] }}"
                required />
                <span>Previous Submission: {{ player['interceptions'] }}</span>


        <label for="positioning">Positioning</label>
        <input name="positioning"
                id="positioning"
                type="number"
                value="{{ request.form['positioning'] or player['positioning'] }}"
                required />
                <span>Previous Submission: {{ player['positioning'] }}</span>


        <label for="vision">Vision</label>
        <input name="vision"
                id="vision"
                type="number"
                value="{{ request.form['vision'] or player['vision'] }}"
                required />
                <span>Previous Submission: {{ player['vision'] }}</span>


        <label for="penalties">Penalties</label>
        <input name="penalties"
                id="penalties"
                type="number"
                value="{{ request.form['penalties'] or player['penalties'] }}"
                required />
                <span>Previous Submission: {{ player['penalties'] }}</span>


        <label for="marking">Marking</label>
        <input name="marking"
                id="marking"
                type="number"
                value="{{ request.form['marking'] or player['marking'] }}"
                required />
                <span>Previous Submission: {{ player['marking'] }}</span>


        <label for="standing_tackle">Standing Tackle</label>
        <input name="standing_tackle"
                id="standing_tackle"
                type="number"
                value="{{ request.form['standing_tackle'] or player['standing_tackle'] }}"
                required />
                <span>Previous Submission: {{ player['standing_tackle'] }}</span>


        <label for="sliding_tackle">Sliding Tackle</label>
        <input name="sliding_tackle"
                id="sliding_tackle"
                type="number"
                value="{{ request.form['sliding_tackle'] or player['sliding_tackle'] }}"
                required />
                <span>Previous Submission: {{ player['sliding_tackle'] }}</span>


        <label for="gk_diving">GK Diving</label>
        <input name="gk_diving"
                id="gk_diving"
                type="number"
                value="{{ request.form['gk_diving'] or player['gk_diving'] }}"
                required />
                <span>Previous Submission: {{ player['gk_diving'] }}</span>


        <label for="attacking_work_rate">Attacking Work Rate</label>
        <select name="attacking_work_rate" id="attacking_work_rate" required>
            <option value="">Select an option</option>
            <option value="Low" {% if (request.form['attacking_work_rate']|title) == 'Low' or (player['attacking_work_rate']|title) == 'Low' %}selected{% endif %}>Low</option>
            <option value="Medium" {% if (request.form['attacking_work_rate']|title) == 'Medium' or (player['attacking_work_rate']|title) == 'Medium' %}selected{% endif %}>Medium</option>
            <option value="High" {% if (request.form['attacking_work_rate']|title) == 'High' or (player['attacking_work_rate']|title) == 'High' %}selected{% endif %}>High</option>
        </select>
        <span>Previous Submission: {{ player['attacking_work_rate'] }}</span>


        <label for="defensive_work_rate">Defensive Work Rate</label>
        <select name="defensive_work_rate" id="defensive_work_rate" required>
            <option value="">Select an option</option>
            <option value="Low" {% if (request.form['defensive_work_rate']|title) == 'Low' or (player['defensive_work_rate']|title) == 'Low' %}selected{% endif %}>Low</option>
            <option value="Medium" {% if (request.form['defensive_work_rate']|title) == 'Medium' or (player['defensive_work_rate']|title) == 'Medium' %}selected{% endif %}>Medium</option>
            <option value="High" {% if (request.form['defensive_work_rate']|title) == 'High' or (player['defensive_work_rate']|title) == 'High' %}selected{% endif %}>High</option>
        </select>
        <span>Previous Submission: {{ player['defensive_work_rate'] }}</span>


        <label for="preferred_foot">Preferred Foot</label>
        <select name="preferred_foot" id="preferred_foot" required>
            <option value="Left" {% if (request.form['preferred_foot']|title) == 'Left' or (player['preferred_foot']|title) == 'Left' %}selected{% endif %}>Left</option>
            <option value="Right" {% if (request.form['preferred_foot']|title) == 'Right' or (player['preferred_foot']|title) == 'Right' %}selected{% endif %}>Right</option>
            <option value="" {% if request.form['preferred_foot'] == '' or player['preferred_foot'] is none %}selected{% endif %}>No Preference</option>
        </select>
        <span>Previous Submission: {{ player['preferred_foot'] }}</span>

        
        <input type="submit" value="Save" />
    </form>
    <hr />

{% endblock content %}
